$purple_color: #6c63ff;
$white_color: white;
$purple_ligth_color: #C3C1E5;

@mixin flex($fd, $ai, $gap) {
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    gap: $gap;
}

@mixin input_btn($border, $br, $pad) {
    display: block;
    border: $border;
    border-radius: $br;
    padding: $pad
}


.wrapper {
    @include flex(column, center, 0);
    width: 750px;
    margin: 0 auto;

    h1 {
        color: black;
    }

    .header {
        @include flex(row, row, 15px);

        input {
            @include input_btn(1px solid $purple_color, 5px, 10px 15px);
            outline: none;

            &:nth-child(1) {
                width: 256px;
            }

            &:nth-child(2) {
                width: 389px;
            }

            &::placeholder {
                color: $purple_ligth_color;
            }
        }
    }

    button {
        @include input_btn(1px solid $purple_color, 5px, 10px 15px);
        background-color: $purple_color;
        color: $white_color;
        cursor: grab;
    }


}